<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>852126047148-tj34e3sb2659u5v1fkl2v2t3v3gqs83c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.852126047148-tj34e3sb2659u5v1fkl2v2t3v3gqs83c</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>852126047148-bgf7prig0ig2vute0gefl8nu7l5ndeur.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBmoQGd52-kdZb1mpIvKMMP6e30hao9Tto</string>
	<key>GCM_SENDER_ID</key>
	<string>852126047148</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.jobsUi</string>
	<key>PROJECT_ID</key>
	<string>easy-jobs-ff4ae</string>
	<key>STORAGE_BUCKET</key>
	<string>easy-jobs-ff4ae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:852126047148:ios:073a4ab4dba3e4c099f809</string>
</dict>
</plist>